@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap");

:root {
  --main-dark: #603f26;
  --main-light: #fff0d6;

  --main-light-gray: #bfb2a8;
  --main-dark-black: #302013;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-weight: 300;
}

body {
  font-family: "Roboto" !important;
}

@media (max-width: 37.5em) {
  html {
    font-size: 50%;
  }
}
